body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F4F6;
    overflow-anchor: none;
}


.mains-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contents-containers {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    flex-basis: 50%;
    width: 100vw;
}

.restaurants-section,
.info-section,
.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}


/* .restaurants-section-title-wrapper {
    width: 100%;
    padding: 0 1rem; 
}

.restaurants-section-title {
    font-size: 2rem;
    margin-bottom: 0rem; 
    margin-top: 1rem;
    text-align: center; 
    font-weight: bold;
    color: #333;
} */


.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.restaurant-card,
.info-card,
.new-content {
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform .2s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* center the content */
    color: black;
    justify-content: flex-start; 
    will-change: transform;
    width: 100%; /* make cards take full width on small screens */
    max-width: 350px; /* limit maximum width of cards */
}

.restaurant-card:hover,
.info-card:hover {
    transform: scale(1.05);
}

.restaurant-card h2,
.info-card h2,
.new-content h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.restaurant-card img,
.info-card img,
.new-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.restaurant-card .food-text,
.info-card .food-text {
    font-size: 0.85rem;
}

.delivery-fee {
    font-size: 0.85rem;
    color: #10B981;
}

.cta-link {
    display: inline-block;
    background-color: #2563EB;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    margin-top: auto;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
}

.cta-link:hover {
    background-color: #1a5ad6;
}

.info-card {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-height: 350px;
}

.info-image img {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    padding: 3.5rem;
    object-fit: cover;
}

.info-desc {
    margin-bottom: 1rem;
    text-align: center;
}

.additional-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.additional-content {
    flex: 1;
    padding-right: 1rem;
}

.additional-image {
    flex: 1;
    max-width: 500px;
}

.additional-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Styles for the new section */
.new-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.new-content {
    flex-basis: 45%;
    text-align: left;
}

.new-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.new-desc {
    font-size: 1.rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: black;
}

.new-image {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
}

.new-image img {
    max-width: 300px; /* You can adjust this value to your preference */
    height: auto; /* You can adjust this value to your preference */
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Add media query for responsive design */

@media (max-width: 768px) {
    .additional-section, .new-section {
        flex-direction: column;
    }
    
    .new-content, .new-image, .additional-content, .additional-image {
        flex-basis: 100%;
    }
}


