body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F4F6;
    overflow-anchor: none;
}

.mains-content {
    flex: 1 0 auto; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;

}
@media (min-width: 70px) {
    .mains-content {
        margin-bottom: 0px; /* adjust as necessary */
    }
}


.contents-containers {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    flex-basis: 50%;
    width: 100vw;
    padding-bottom: 430px;
}

.restaurants-section,
.info-section,
.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    align-items: center; 
}

.restaurant-card, 
.info-card,
.new-content {
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform .2s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    justify-content: flex-start;
    width: 100%;
    max-width: 350px;
}

.restaurant-card:hover,
.info-card:hover {
    transform: scale(1.05);
}

.restaurant-card h2,
.info-card h2,
.new-content h2 {
    font-size: 1.10rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.restaurant-card img,
.info-card img,
.new-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.restaurant-card .food-text,
.info-card .food-text {
    font-size: 0.85rem;
}

.delivery-fee {
    font-size: 0.85rem;
    color: #10B981;
}

.cta-link {
    display: inline-block;
    background-color: #2563EB;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    margin-top: auto;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
}

.cta-link:hover {
    background-color: #1a5ad6;
}

/* Adjustments for different screen sizes */
@media (max-width: 70px) {
    .contents-containers {
        padding-bottom: 400px;
    }
}
@media (min-width: 78px) {
    .contents-containers {
        padding-bottom: 700px;
    }
}
@media (min-width: 700px) {
    .restaurants-section,
    .info-section,
    .new-section {
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}
@media (min-width: 768px) {
    .restaurant-card,
    .info-card,
    .new-content {
        width: calc(45% - 1rem);
    }

    .contents-containers,
    .additional-section,
    .new-section {
        flex-direction: column;
    }

    .new-content, .new-image, .additional-content, .additional-image {
        flex-basis: 100%;
    }
}
@media (min-width: 992px) { 
    .contents-containers {
        padding-bottom: 0;
    }

}
@media (min-width: 1200px) {
    .contents-containers {
        padding-bottom: 500px;
    }
}


/* Other style rules */
.info-card {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-height: 350px;
}

.info-image img {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    padding: 3.5rem;
    object-fit: cover;
}

.info-desc {
    margin-bottom: 1rem;
    text-align: center;
}

.additional-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.additional-content {
    flex: 1;
    padding-right: 1rem;
}

.additional-image {
    flex: 1;
    max-width: 500px;
}

.additional-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* Set the order of new-content and new-image in general */
.new-content {
    order: 1;
}

.new-image {
    order: 2;
}

/* Reverse the order for every 2nd new-section */
.new-section > div:nth-child(even) .new-content {
    order: 2;
}

.new-section > div:nth-child(even) .new-image {
    order: 1;
}

/* Other styles for new-content and new-image */
.new-content,
.new-image {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-content {
    align-items: flex-start;
    text-align: left;
}

.new-image {
    align-items: center;
}

.new-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.new-desc {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: black;
    text-align: flex-start;
}

.new-image img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}


/* Define the basic structure for new-section */
.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* Set the order of new-content and new-image in general */
.new-content {
    order: 1;
}

.new-image {
    order: 2;
}

/* Reverse the order for every 2nd new-section */
.new-section > div:nth-child(even) .new-content {
    order: 1;
}

.new-section > div:nth-child(even) .new-image {
    order: 2;
}
 
/* Rest of the CSS */

/* New classes for flex layout */
.new-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

@media (min-width: 70px) {
    .new-item {
        align-items: flex-start;
        margin-top: 1rem;
    }
}

    


.reverse {
    flex-direction: row-reverse;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .new-item {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column;
    }
}










